body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#product-overview {
    background: #ff1b68
}


.section-title {
    color: #2ddf5c;
}


h1 {
    color: white;
}
